on:
  push:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: true
        default: 'dev'

jobs:
  terraform:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    env:
      # This pulls the environment from the trigger or defaults to dev
      ENVIRONMENT: ${{ github.event.inputs.environment || 'dev' }}
      AWS_REGION: "ap-east-1"

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.14.4" # Ensure 1.10+ for S3 Native Locking

      - name: Configure AWS Credentials
        if: ${{ !env.ACT }}
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Resolve environment name
        run: echo "ENVIRONMENT_UPPER=$(echo '${{ env.ENVIRONMENT }}' | tr '[:lower:]' '[:upper:]')" >> $GITHUB_ENV

      - name: Terraform Init
        working-directory: terraform
        run: |
          terraform init \
            -backend-config="bucket=${{ vars[format('TF_BACKEND_BUCKET_{0}', env.ENVIRONMENT_UPPER)] }}" \
            -backend-config="key=services/my-app/terraform.tfstate" \
            -backend-config="region=${{ env.AWS_REGION }}" \
            -backend-config="use_lockfile=true"

      - name: Terraform Plan
        working-directory: terraform
        run: terraform plan -out=tfplan